*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-color: black;
      color: white;
      min-height: 100vh;
      min-width: 100vw;
      padding: 0 7px;
      position: relative;
}
header{
      padding: 1px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
}
nav.modos{
top: 02px;left: 15px;
position: absolute;   


}
ul{
      list-style: none;
}
li{
   
      text-transform: uppercase;
      padding: 3px;
      background-color: aquamarine;
      text-shadow: 2px 2px 1px black;
      color: white;
      transition: 1s;
}
li:hover{
      background-color: rgb(255, 255, 255);
      text-shadow: 2px 2px 1px black;
      color: black;
    font-weight:500;
}
li:active{
      background-color: rgb(210, 206, 206);
      text-shadow: 2px 2px 2px black;
      color: black;  font-weight: 900;
}
#um{
      display: none;
}
#tudo{
  display: block;
}

.web{
      position: relative;
      padding: 8px;
      background: linear-gradient(78deg,white , gray);
      color: black;
  width: 100%;
  height: 50vh;
}
#nome{
      position: absolute;
      color: grey;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}
.html_, .css,.js{
position: relative;
}
.html_ textarea, .css textarea,.js textarea{
      width: 100%;
      height: 100%;
      }