* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      height: 100vh;
      width: 100vw;
      background: linear-gradient(78deg, #000109 1%, #04093b);
}

header,
footer,
.center {
      display: flex;
      align-items: center;
      justify-content: center;
}

header {
      background: BLACK;
      color: white;

      height: 4%;
      width: 100%;
}
nav {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      padding: 2px;
      background: grey;
}
ul {
      cursor: pointer;
      background: black;
      > li {
            font-size: 17px;
            font-family: serif;
            text-transform: uppercase;
            border: 1px solid white;
            padding: 1px;
      }
}
li:hover {
      background: white;
      color: grey;
      transition: 1.5s;
}
li#tudo {
      display: none;
}

.editor {
      width: 100%;
      height: 93%;
}
.web {
      display: inline-block;
      position: relative;
      background: linear-gradient(78deg, #fbfcff 1%, #bebfc5, #88888a);
      padding: 10px;
      width: 100%;
      height: 38%;
}
div {
      position: relative;
}
#text {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.1;
      transform: translate(-50%, -50%);
}
.code {
      width: 100%;
      height: 60vh;
}
.css_js {
      display: flex;
      flex-direction: row;
}
textarea {
      border-radius: 25px 0;
      word-break: break-all;
      overflow-y: none;
      outline: none;
      color: black;
      padding: 5px;
      font-weight: 700;
      font-size: 18px;
      text-align: start;
      word-wrap: wrap;
}
.css,
.js {
      border: 1px solid black;
      position: relative;
      width: 50%;
      height: 28vh;
}
.css > #css,
.js > #js {
      position: relative;

      width: 100%;
      height: 100%;
}
.code #htmlt {
      width: 100%;
      height: 29vh;
}
footer {
      color: white;
      position: relative;
      text-align: center;
      height: 2.5%;
      border: 1px black dotted;
}

.a1 {
      width: 100%;
      height: 50%;
}
.text {
      width: 100%;
      height: 50%;
}
#htmlt {
      width: 100%;
}

#csst {
      width: 48.5%;
}
#js {
      width: 48.5%;
}

/* modo 2*/

textarea {
      border-radius: 25px 0;
      word-break: break-all;
      overflow-y: none;
      outline: none;
      color: black;
      padding: 5px;
      font-weight: 700;
      font-size: 18px;
      text-align: start;
      word-wrap: wrap;
}
.modo2 .css{
      border: 1px solid black;
      position: relative;
     
      width: 100%;
      height: 57vh; 
      display: none;
}
.modo2 .js {
      border: 1px solid black;
      position: relative;
     
      width: 100%;
      height: 57vh; 
      display: none;
}
.css > #csst,
.js > #js {
      position: relative;

      width: 100%;
      height: 100%;
}
.modo2 #htmlt {
      width: 100%;
      height: 57vh;
}
nav#modo2 {
      width: 100%;
      display: none;
      justify-content: space-around;
      position: relative;
}
button {
      width: 30%;
}
#htmlb {
}
#javascriptb {
}
#cssb {
}
